* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}


:root {
    
    --branco: #fff;
    --vinho: #B51D44;
    --font_Poppins: 'Poppins', sans-serif;
}

.fundo_pagina_home {

    height: 100vh;
    width: 100vw;
    background-color: var(--branco);
    display: flex;
}

.quadrado_vermelho_home {
width: 55vw;
height: 100vh;
}

.menino_home{
height: 30%;
position: relative;
right: 100%;
top: 0%
}

.botao_entrar{
    color: var(--branco);
    background-color: var(--vinho) ;
    border-radius: 5px;
    border: none;
    width: 25%;
}

.logo_event {
    padding-top: 15%;
}