* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}


:root {
    
    --azul_padrao: #003D73;
    --fundo_pagina: #ECF1F8;
    --branco: #fff;
    --font_Poppins: 'Poppins', sans-serif;
    --azul_fundo: #053155; 
}

.fundo_pagina_home {

    height: 100vh;
    width: 100vw;
    background-color: var(--branco);
    display: flex;
}

.quadrado_vermelho_home {
width: 55vw;
height: 100vh;
}

.menino_home{
height: 30%;
position: relative;
right: 100%;
top: 0%

}